


body{
    background-color: rgb(136, 136, 185);
    display: flex;
    flex-direction: row;
    justify-content: left;
}  

img {
    width: 50px;
}

#cart {
    background-color: salmon;
    width: 50vh;
    margin-left: 100px;
}

#items {
    width: 50vh;
}














/*

*{
    transition: all 1s;
}


body{
    padding: 10px;
    background-color: lightseagreen;

}

section{
    display: flex;
    flex-direction: row;
}


img {
    width: 50px;
}


#cart{
    background-color:salmon;
}

#cart, #items{
    width: 50vw;
}









h1{
    color:#7c32ff;
}
/*selecting a tag*/

p{
    color:green;
    text-decoration: line-through;
}


/*Ids have hashtags*/
#two {
    background-color:rebeccapurple;
}

/*classes have dots*/
.example {
    border: 5px dashed purple;
    margin: 5px;
}
